@font-face {
    font-family: 'Airbnb Cereal Black';
    src: url('../fonts/Airbnb/AirbnbCerealBlack.ttf') format('truetype');
}
@font-face {
    font-family: 'Airbnb Cereal Bold';
    src: url('../fonts/Airbnb/AirbnbCerealBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Airbnb Cereal Book';
    src: url('../fonts/Airbnb/AirbnbCerealBook.ttf') format('truetype');
}
@font-face {
    font-family: 'Airbnb Cereal Light';
    src: url('../fonts/Airbnb/AirbnbCerealLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Airbnb Cereal Medium';
    src: url('../fonts/Airbnb/AirbnbCerealMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Airbnb Cereal Extra Bold';
    src: url('../fonts/Airbnb/AirbnbCerealExtraBold.ttf') format('truetype');
}

/*
--------------------------------
    : Custom - General css :
--------------------------------
*/
html {
    position: relative;
    min-height: 100%;
}
  
body {
    font-family: 'Airbnb Cereal Light';
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}

.window-section {
    background-image: url('../images/background-image.png');
    background-size: 100%;

}

.nav-custom {
    position: fixed;
    width: 100%;
    top: 0px;
    border-radius: 8px;
}
@media (max-width: 576px) { 
    .nav-custom {
        position: relative;
        width: 100%;
    }
    .mr-20 {
        margin-right: 0px;
    }
    .sm-corner {
        position: absolute;
        top: 5px;
        right: 0px;
        z-index: 99999;
    }
 }

.btn-custom, .btn-custom:hover {
    background: hsla(131, 25%, 33%, 1);
    background: linear-gradient(360deg, hsla(131, 25%, 33%, 1) 0%, hsla(131, 49%, 39%, 1) 100%);
    background: -moz-linear-gradient(360deg, hsla(131, 25%, 33%, 1) 0%, hsla(131, 49%, 39%, 1) 100%);
    background: -webkit-linear-gradient(360deg, hsla(131, 25%, 33%, 1) 0%, hsla(131, 49%, 39%, 1) 100%);
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 8px;
}

.card-style {
    width: 880px;
    height: 540px;
    border: 1px solid #000000;
    background: #FFFFFF;
    box-shadow: 0px 8px 46px rgba(7, 39, 14, 0.4);
    border-radius: 16px;
}

.banner-image {
    width: 100%;
    border-top-left-radius: 16px;
}

.banner-image-footer {
    background-color: #716B5E;
    border-bottom-left-radius: 16px;
}
.banner-image-footer p{
    font-size: 12px;
    padding: 13px 0px;
}

@media (max-width: 576px) { 
    .card-style {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        height: max-content;
    }
    .banner-image {
        border-top-right-radius: 16px;
    }
    .banner-image-footer {
        border-bottom-left-radius: 0px;
    }
 }
.text-color {
    color: #15203E;
}
.text-header {
    font-family: 'Airbnb Cereal Extra Bold';
    font-weight: 900;
    font-size: 24px;
}
.header-sticky {
    position: absolute;
    top: 0;
    left: 22%;
}

@media (max-width: 576px) { 

    .header-sticky {
        position: relative;
        left: auto;
        margin-bottom: 1rem;
    }
 }

.footer {
    color: #3F6947;
    font-size: 14px;
    position: fixed;
    height: 25px;
    bottom: 0;
    width: 100%;
}
.footer-sticky {
    color: #3F6947;
    font-size: 14px;
    position: absolute;
    height: 25px;
    bottom: 0;
    left: 18%;
}
@media (max-width: 576px) { 
    .footer {
        position: relative;
        height: max-content;
        padding-bottom: 10px;
    }

 }
#rangeInput {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 6px;
    background: #FAF8F6;
    border: 1px solid rgba(63, 105, 71, 0.2);
}
#rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}
#selector {
    position: absolute;
    left: 0%;
    bottom: -2px;
    transform: translateX(-50%);
    z-index: 2;
    background: #388447;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.SelectBtn {
    height: 12px;
    width: 12px;
    background-image: url('../images/logo/logo-small-white.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    left: 4px;
}
#Progressbar {
    width: 0%;
    height: 7px;
    background: -webkit-linear-gradient(360deg, hsla(131, 25%, 33%, 1) 0%, hsla(131, 49%, 39%, 1) 100%);
    border-radius: 6px;
    position: absolute;
    top: 9px;
    left: 0;
}
/* input[type='range'] {
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background: -webkit-repeating-linear-gradient(90deg, #3F6947, #3F6947 1px, transparent 1px, transparent 33.334%) no-repeat 50% 50%;
    background: -moz-repeating-linear-gradient(90deg, #3F6947, #3F6947 1px, transparent 1px, transparent 33.334%) no-repeat 50% 50%;
    background: repeating-linear-gradient(90deg, #3F6947, #3F6947 1px, transparent 1px, transparent 33.334%) no-repeat 50% 50%;
    background-size: 101% 31px;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
-webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: #777;
}
input[type='range']::-moz-range-track {
    box-sizing: border-box;
    width: 200px;
    height: 5px;
    border-radius: 2px;
    padding: 0px;
    background: #777;
}
input[type='range']::-moz-range-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 50px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    background: #EEE;
}
input[type='range']::-ms-track {
    box-sizing: border-box;
    width: 210px;
    height: 5px;
    border-radius: 2px;
    padding: 0px;
    background: #777;
    color: #777;
}
input[type='range']::-webkit-slider-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    margin-top: -8px;
    background: #EEE;
}
input[type='range']::-ms-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    background: #EEE;
}
input[type="range"]::-ms-fill-lower {
    background: transparent;
}
input[type='range']:focus {
    outline: none;
}
/*input[type='range']:after{
position: absolute;
content: '20 40 60 80';
padding: 25px 4035px;
word-spacing: 20px;
left: 0px;
top: 0px;
}*/

.range-input:after {
    position: absolute;
    color: #777;
    content: '20 40 60 80';
    padding: 40px;
    word-spacing: 20px;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.range-input {
    padding: 0px;
    position: relative;
} */

.view-amount{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Airbnb Cereal Bold';
}

.selected-amount {
    padding: 5px;
    border-bottom: 1px solid #C2C4CC;
    font-size: 28px;
}
.icon-color {
    color: #C2C4CC;
}

.image-title {
    margin-top: .75rem;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Airbnb Cereal Bold';
}

.estimate-text {
    font-size: 12px;
}
.connect-type-name {
    font-size: 12px;
    color: #15203E;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    border-radius: 24px;
}
  
.modal-header .btn-close {
    padding: 1rem 1rem;
}

.mr-2 {
    margin-right: 1.2rem;
}
.ml-2 {
    margin-left: 1.2rem;
}

.amount-box {
    background-color: #0D0F09;
    border-radius: 12px;
    margin: 10px 0px;
    color: #ffffff;
}

.amount-box a {
    text-decoration: none;
}
.amount-inner-icon {
    padding-right: 2px;
    margin-bottom: 4px;
}

.amount-text {
    padding: 8px 15px;
}

.amount-inner-box {
    background-color: #28332C;
    color: #ffffff;
    border-radius: 8px;
}

.amount-inner-text {
    padding: 8px 12px;
}

.disconnected {
    color: #778C7E;
    text-align: right;
    margin-right: 15px;
    padding: 10px 0px;
}

.btn-cancel {
    background-color: #E8EFE8;
    padding: 12px 48px;
}

.alert-warning {
    color: #996808;
    background-color: #F5F0E6;
    border-color: #F5F0E6;
    border-radius: 8px;
}
.alert-danger {
    color: #990808;
    background-color: #F5EBEB;
    border-color: #F5EBEB;
    border-radius: 8px;
}

.sticky-banner-text {
    color: #D4CFC7;
    font-size: 16px;
}

.notification {
    border-radius: 16px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 100%);
    padding: 20px;
    min-height: 90vh;
}

.icon-donation {
    background-color: #1B201C;
    border-radius: 100%;
    padding: 12px 18px;
    width: 50px;
    height: 50px;
}
.icon-rewilding {
    background-color: #1B201C;
    border-radius: 100%;
    padding: 12px 14px;
    width: 50px;
    height: 50px;
}
.icon-owner {
    background-color: #1B201C;
    border-radius: 100%;
    padding: 12px 15px;
    width: 50px;
    height: 50px;
}
.icon-avatar {
    background-color: #0D0F09;
    border-radius: 100%;
    padding: 12px 15px;
    width: 50px;
    height: 50px;
}

.content .text {
    color: #758078;
}

.hr-sticky {

}

.notification-card {
    border-radius: 16px;
    background: #162018;
    padding: 10px;
    margin: 10px 0px;
}

.btn {
    border-radius: 8px;
}

.modal-body {
    padding: 48px;
}